.selectContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
}

.label {
  font-size: small;
  margin-bottom: 5px;
}

.input {
  padding: 8px;
  border-radius: 9px;
  border-color: transparent;
}
